/*GERAL*/
	
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-size: 16px;

}
.space-between{
    justify-content: space-between;
}
*{
    box-sizing:border-box;
}

h1, h2, h3, h4, figure,p{
    margin:0;
}

a{
    text-decoration: none; color: inherit;
}


/*HEADER*/

.logos img{
    display: inline-block;
    justify-content: space-between;
    margin-left: 30px;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.menu{
    color: #000000;
    text-transform: uppercase;
    font-weight: 600;
    text-align: right;
    width: 100%;
    margin-bottom: 20px;
}

.menu a{
    margin: auto 15px;
}

/*VIDEO*/

.videodiv{ 
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.video{
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    transform: translate(-50%, -50%);
    z-index: -1;
}

.videodiv h1{
    font-size: 80px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 300px;
}

.videodiv h3{
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 10px;
}

.btn{
    text-transform: uppercase;
    font-weight: bold;
    background-color: #4CAF50;
    color: white;
    padding: 15px 25px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 40px;
    text-align: center;
    display: block;
    margin: 70px auto;
    width: 410px;
}

.btn:hover {
  background-color: #45a049;
}

/*FORMS*/

.box{
    padding: 20px;
    display: inline-block;
    width: 1100px;
    height: 300px;
    margin-left: 60px;
}
.box h3{
    font-size: 35px;
    margin-top: 20px;
}

.box p{
    font-size: 20px;
    margin-top: 5px;
}
.forms{
    display: inline-block;
    width: 500px;
    margin-top: 30px;
    margin-left: 60px;
    margin-bottom: 30px;
}
.win{
    background-color: #a4e3f3;
    padding: 25px;
    width: 500px;
    text-align: right;
    position: flex;
}

.input-element, .message{
    display: block;
    width: 100%;
    padding: 15px 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.message{
    height: 150px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    resize: vertical;
}

.btn2{
    background-color:#FFFFFF;
    padding: 15px 20px;
    border: none;
    border-radius: 5%;
    cursor: pointer;
}

/*VERA*/

.vera{
    display: inline-block;
    width: 40%;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 30px;
    text-align: center;
    position: relative;
}

.vera h3{
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.veratxt{
    display: inline-block;
    width: 700px;
    margin-left: 60px;
    text-align: left;
    position: flex;
}

.veratxt p{
    margin-bottom: 10px;
}

/*BENEFICIOS*/

.beneficios-container1{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-left: 200px;
}

.beneficios-container2{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding-left: 200px;
}

.beneficio img{
    height: 80px;

}

.beneficio{
    gap: 20px;
    width: 35%;
    margin: 20px auto;
}

.beneficio h3 p{
    gap: 20px;
}

/*FOOTER*/

footer{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 60px;
    color: #303030;
}